/**
 * @file
 * Visual styles for typing animation block in Catalog lite.
 */
.typing-animation-container {
  padding: 160px 0 160px;
}
.typing-animation-container h2 {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #000;
  display: inline-block;
  padding: 0 10px;
}
.typing-animation-container .typed {
  min-height: 55px;
  font-size: 32px;
  display: inline-block;
  background-color: #000;
  padding: 0 10px;
}
